// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.blog {
  padding: 2%;
  border: 2px dotted rgb(230, 116, 116);
  width: 20%;
} 
